/*包含样式*/
.param-resource-list-scroll td div {
	text-overflow: ellipsis;/*多余文字2点显示*/
	overflow: hidden;/*超出宽度部分隐藏*/
}

.param-resource-list-scroll tr td:first-child div {
	width: 150px;
}

.param-resource-list-scroll tr td:nth-child(2) div {
	width: 150px;
}
