1. 圆角矩形可以试试哦
	border-radius

	.resource-obj-content {
		width:100%;
		min-height:150px;
		float: left;
		border-radius: 4px;
		background-color: #fff;
		border:1px solid #E4E4E4;
		margin-bottom: 10px;
	}

2. 移动
	transform: translateY(-50%);

	.uname-fold-content {
		background-color: #F0F9FF;
		position: absolute;
		left: 1284px;
		transform: translateY(-50%);
		height: 92px;
		width: 41px;
		top: 55%;
		padding: 3px;
	}

	.param-fold {
		width: 19px;
		height: 100%;
		background-repeat: no-repeat;
		background-position-y: 50%
	}

3. 旋转
	.arrow-change {
		transform: rotate(270deg);
	}

4. 背景图片大小
	.uname-fold{
		background-image: url('../images/u9433.png');
		background-size: 18px 20px;
	}

5. 宽度计算
	.param-resource-body {
		height: 97%;
		background-color: #F0F9FF;
		float: right;
		width: calc(100% - 19px)
	}



