
.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}

.appBody {
	margin-left: 152px;
	margin-top: 20px;
	margin-right: 152px;
	margin-bottom: 20px;
}

.appBox {
	width: auto;
	height: auto;
	min-width: 300px;
	border: 1px solid #D1D0D0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/


/*控制菜单箭头*/
.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
content: "\e114";
}
.nav-header > span.glyphicon-chevron-toggle:before {
content: "\e113";
}